extends ../../layout

block content
  .home.page.evaluate
    header.head-block.bar.bar-nav.header
      a.arr(href="javascript:history.back();")
        i.fa.fa-angle-left
      h1.title 收货评价
    .content.native-scroll.wrapper
      form#form.product_list(action="/evaluate/submit",method="POST",enctype="multipart/form-data")
        input(type="hidden",name="user_id",value="#{order.user_id}")
        each product,index in order.products
          .product
            input(type="hidden",name="prod[product_id]",value="#{product.productId}")
            input(type="hidden",name="prod[size]",value="#{product.size}")
            input(type="hidden",name="prod[color]",value="#{product.color}")
            .product-head
              .img-box
                img(src="#{product.pics[0]}")
              p.name.ellipsis #{product.name}
            textarea(name="#{product.productId}[content]").evlue-content 建议您多说说使用后的效果感受，对其他小伙伴帮助很大哦~
            .uploadpic
              i.fa.fa-camera-retro
              input(type="file",name="evl[imgs]")
            .satisfied
              .praise.on
                input.icon(type="radio",name="#{product.productId}[grade]",value="好评",checked)
                p 好评
              .neutral
                input.icon(type="radio",name="#{product.productId}[grade]",value="中评")
                p 中评
              .negative
                input.icon(type="radio",name="#{product.productId}[grade]",value="差评")
                p 差评
    .footer
      a.new_address.j-submit(href="javascript:;") 提交评论

block scripts
  script.
    $(function(){
      $(document).on('click','.j-submit',function(e){
        $('#form').submit();
      })
    })