extends ../../layout

block content
  #subfield-panel.subfield.panel.panel-right.panel-reveal
    .subfield-wrap
      a.close-panel(href="javascript:;")
        i.fa.fa-close
      ul.subfield-cont
        li
          a(href="/") 首页
        li
          a(href="") 上衣
        li
          a(href="") 裤子
        li
          a(href="") 裙子
      .user-panel
        i.fa.fa-user
        span 请登录
  .home.page
    include ../../includes/header
    .content.native-scroll.wrapper
      .banner.slide-box
        .swiper_wrap
          .wipe_img_con
            a.swiper_wrap_a
              img(src="/images/upload_ie4tcmbzmvrwmnjxhazdambqgqyde_750x250.jpg")
          .wipe_img_con
            a.swiper_wrap_a
              img(src="/images/upload_ie4tcmbzmvrwmnjxhazdambqgqyde_750x250.jpg")
          .wipe_img_con
            a.swiper_wrap_a
              img(src="/images/upload_ie4tcmbzmvrwmnjxhazdambqgqyde_750x250.jpg")
          .wipe_img_con
            a.swiper_wrap_a
              img(src="/images/upload_ie4tcmbzmvrwmnjxhazdambqgqyde_750x250.jpg")
          .wipe_img_con
            a.swiper_wrap_a
              img(src="/images/upload_ie4tcmbzmvrwmnjxhazdambqgqyde_750x250.jpg")
      .user-nav
        ul.row
          li.col-25
            a(href="")
              img(src="")
              p 全部分类
          li.col-25
            a(href="")
              img(src="")
              p 我的订单
          li.col-25
            a(href="")
              img(src="")
              p 我的收藏
          li.col-25
            //- if auth_url
            //-   a.external(href="#{auth_url}")
            //-     img(src="")
            //-     p 购物车
            //- else
            a.external(href="/cart")
              img(src="")
              p 购物车
      .shopin-head
        hr
        span 热卖单品
      .wall
        .wal-list.clearfix
          .wall-col.lf
            each product,index in products
              if index%2==0
                .wall-item
                  a.thumbnail(href="/details/#{product._id}",external)
                    .img
                      img(src="#{product.pics[0]}")
                    .caption
                      p.name #{product.name}
                      .priceattention.clearfix
                        p.price ￥#{product.price}
                        span.attention.rt 1841
                          i.fa.fa-heart-o.lf
          .wall-col.rt
            each product,index in products
              if index%2!=0
                .wall-item
                  a.thumbnail(href="/details/#{product._id}",external)
                    .img
                      img(src="#{product.pics[0]}")
                    .caption
                      p.name #{product.name}
                      .priceattention.clearfix
                        p.price ￥#{product.price}
                        span.attention.rt 1841
                          i.fa.fa-heart-o.lf

block scripts
  script.
    window.onload = function(){
      InitSlider();
    }
    