extends ../../layout

block content
  .page.cart
    header.bar.bar-nav
      a.arr(href="javascript:void(history.back());")
        i.fa.fa-angle-left
      h1.title 购物车
    .content.native-scroll
      .ui-list.cart-goods
        each product in products
          li.ui-list-item.j-list-item(data-id="#{product.id}")
            a.cart-goods-pic(href="/details/#{product.productId}")
              img.fadeIn(src="#{product.pics[0]}")
            .cart-goods-des
              a(href="/details/#{product.productId}")
                h5.cart-goods-name #{product.name}
              p.cart-goods-sku 颜色：#{product.color} 尺码：#{product.size}
              .cart-goods-counter
                .qty-box
                  span.num-reduce.lf.j-reduct -
                  em.num-input.lf.j-num 1
                  span.num-add.lf.j-add +
            p.cart-goods-price
              span.price #{product.price}
              a.cart-goods-dustbin(href="javascript:;")
                i.icon.icon-remove.j-remove
            input.ui-checkbox(type="checkbox")
    .footer.cart-checkout
      .cart-checkbox
        input.ui-checkbox(type="checkbox",name="c-all")
        label 全选
      .cart-counter
        p.total-price
          | 总计：
          em.sum ￥0.00
      a.ui-btn-pink.ui-btn(href="javascript:;") 去结算
    .ui-modal
      .modal-content
        p.content-p 确定要删除该商品吗
      .action
        span.ui-btn.ui-btn-white.cancle.j-cancle 取消
        span.ui-btn.ui-btn-pink.confirm.j-confirm 确定
block scripts
  script(src="/js/action.js")
  script.
    $(function(){
      var modal = $('.ui-modal').Modal({
        openbtn: '.j-remove',
        afterOpen: function(){
          var id = $(this).parents('.j-list-item').data('id')
          $('.ui-modal').attr('data-id',id);
        }
      });
      $('.j-confirm').on('click',function(){
        var id = $(this).parents('.ui-modal').data('id');
        $('.j-list-item[data-id="'+id+'"]').remove();
        modal.close();
        $.post('/cart/delete',{id: id},function(data){
        },'json');
      });
    });