extends ../../adminLayout

block content
  h2 用户管理/商品编辑
  .wrapper.edit-page
    form#newproduct(action="/admin/product/update",method="POST",enctype="multipart/form-data")
      .form-group
        label 商品名称
        .input-box
          input(type="hidden",name="product[_id]",value="#{product._id}")
          input#name.required(type='text',name='product[name]',value="#{product.name}")
      .form-group.textarea
        label 简述
        .input-box.area-box
          textarea#desc.required(type='text',name='product[description]',value="#{product.description}") #{product.description}
      .form-group
        label 单价
        .input-box
          input#price.required(type='text',name='product[price]',value="#{product.price}")
      .form-group
        label 折扣
        .input-box
          input#discount.required(type='text',name='product[discount]',value="#{product.discount}")
      .size-box.j-form-box
        each size,index in product.size
          .form-group
            label 尺寸
            .input-box
              input#size.required(type='text',name='product[size]',value="#{size}")
              if index > 0
                a.delete.j-delete(href="javascript:;")
                  i.fa.fa-trash
              else
                a.newsize.j-newInput(href="javascrip:void(0);",data-name="size")
                  i.fa.fa-plus
                  | 添加尺寸
      .size-box.j-form-box
        each color,index in product.color
          .form-group
            label 颜色
            .input-box
              input#colors.required(type='text',name='product[color]',value="#{color}")
              if index > 0
                a.delete.j-delete(href="javascript:;")
                  i.fa.fa-trash
              else
                a.newsize.j-newInput(href="javascrip:void(0);",data-name="color")
                  i.fa.fa-plus
                  | 添加颜色
      .form-group.uploadPic-form
          label 图片*
          .pic-wrap.j-pic-wrap
            input.j-deletepic(type="hidden",name="product[deletepic]")
            each url,index in product.pics
              .imgbox
                image(src="#{url}",data-index="#{index}")
                i.icon.j-origin_img &times;
          a.newpic(href="javascrip:void(0);")
            i.fa.fa-plus
          input.required.hide(type="file",name="pics",accept="image/*")
      .form-group
        label 标签
        div.label-group.j-label-group
          input.input(type="hidden",name="product[labels]",value="#{product.labels.join(' ')}")
          div.self-dropdown
            span.labels.dropdown-toggle#newlabels
              i.glyphicon.glyphicon-plus
              | 添加标签
            div.dropdown-menu
              .dropdown-content
                each category in categories
                  span.labels.j-labels #{category.name}
              .footer
                button.btn.btn-primary.j-ok 确定
                a.btn.btn-default.j-cancle(href="javascript:;") 取消
          each label in product.labels
            span.labels.j-selected_lb
              span #{label}
              i.glyphicon.glyphicon-remove
  .footer
    button.btn.btn-primary.confirm.j-confirm 确定
    a.btn.btn-default(href="/admin") 取消

block scripts
  script#newInput(type="text/tmpl").
    <div class="form-group j-form-group">
      <label></label>
      <div class="input-box">
        <input class="sizetext" type="text" name="">
        <a href="javascript:void(0);" class="delete j-delete">
          <i class="fa fa-trash"></i>
        </a>
      </div>
    </div>
  script.
    $(function(){

      //- 图片上传预览
      function uploadPic(){
        function checkType(picPath){
          var type = picPath.substring(picPath.lastIndexOf('.')+1,picPath.length).toLowerCase();
          if( type != 'jpg' && type != 'bmp' && type != 'gif' && type != 'png'){
           return false;
          }
          return true;
        }
        function previewPic(picURL,$this){
          var type = checkType(picURL);
          var prevDiv = $('.pic-wrap');
          if(type){
            if( $this.context.files && ($this.context.files)[0] ){
              var reader = new FileReader();
              reader.onload = function(evt){
                var newImg = $('<div class="imgbox"><img src="'+evt.target.result+'" /><i class="icon">&times;</i></div>');
                prevDiv.append(newImg);
              }
              reader.readAsDataURL(($this.context.files)[0]);
            }else{
              prevDiv.append('<div class="img" style="filter:progid:DXImagesTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\''+file.value+'\'"></div>');
            }
          }
        }
        $('.newpic').on('click',function(){
          var file = $('input[type="file"]');
          if(file.length == 1){
            file.trigger('click');
          }else{
            $(file[1]).trigger('click');
          }
        });
        $(document).on('change','input[type="file"]',function(){
          var self = $(this);
          previewPic(self.val(),self);
          var newpic = $('<input type="file" name="picture" accept="image/*" class="hide" />')
          self.parent().append(newpic);
          validate();
        });
        $(document).on('click','.imgbox .icon',function(){
          var self = $(this),i=0;
          var imgboxes = $(this).parent().siblings();
          for(i,len=imgboxes.length;i<len;i++){
            if($(imgboxes[i]).has(self)){
              break;
            }
          }
          $($('input[type="file"]')[i]).remove();
          $(this).parent().remove();
        })
      }
      //- uploadPic();
      
      $('.j-confirm').on('click',function(e){
        if($('input[type="file"]').length<2){
          $('input[type="file"]').remove();
        }
        $('#newproduct').trigger('submit');
      })
    })