extends ../../adminLayout

block content
  //- .header
  h2 退货/退款商品管理
  .wrapper.delivery.returns
    .productlist.section
      each order in orders
        - var count = 0;
        table(data-order="#{order._id}")
          thead
            tr
              td 商品图片
              td 名称
              td 尺寸
              td 颜色
              td 数量
              td 金额
              td 操作
          tbody.j-product-list
            each product,index in order.products
              - count += product.qty
              tr.j-productItem
                td.img-column
                  .imgbox
                    img(src="#{product.pics[0]}")
                td.name-column 
                  p #{product.name}
                td #{product.size}
                td #{product.color}
                td #{product.qty}
                td #{product.price}
                if index == 0
                  td(data-id="#{order._id}",rowspan="#{order.products.length}")
                    if order.status == 1
                      a.edit.j-edit(href="javascript:void(0);",data-ret="#{order._id}",data-toggle="modal",data-target="#agree") 同意
                    else if order.status == 2
                      a.edit.j-return(href="javascript:void(0);",data-id="#{order._id}") 等待收货，退款
                      a.edit.hide.j-complete(href="javascript:void(0);") 完成退款
                    else
                      a.edit(href="javascript:void(0);") 完成退款
            tr
              td 退货
              td.costom(colspan="6")
                .imgbox
                  img(src="#{order.pics}")
                .reason
                  p 原因： #{order.reason}
                  p 描述： #{order.desc}
            tr
              td 备注：
              td(colspan="6")
                p 联系人： #{order.contact}
                p 手机： #{order.tel}
  include _agree

block scripts
  script.
    $(document).ready(function(){

      $('.j-edit').on('click',function(){
        var id = $(this).data('ret');
        $('#agree').attr('data-ret',id);
      });

      $('.j-next').on('click',function(e){
        var returnid = $('#agree').attr('data-ret');
        var data = {};
        data.address = {};
        data.address.recipient = $('#exporess_name').val();
        data.address.tel = $('#exporess_tel').val();
        data.address.addr = $('#exporess_addr').val();
        data.status = 2;
        data.returnid = returnid;
        $('.j-edit').html('等待客户发货');
        console.log(data);

        $.post('/admin/returns/adopt',data);
      });

      $('.j-return').on('click',function(e){
        var _id = $(this).data('id');
        $(this).addClass('hide');
        $('.j-complete').removeClass('hide');

        $.get('/admin/returns/complete',{_id: _id},function(result){
          console.log(result);
          if(result.success){
            alert('退款成功!');
          }
          else{
            alert('操作失败，请重试！');
          }
        })
      })

    });