extends ../../adminLayout

block style
  link(rel="stylesheet",href="/style/pc/jquery.Jcrop.min.css")

block content
  h2 新建活动
  .wrapper.new_act
    form#new_activity(action="/admon/activity/new",method="POST",enctype="multipart/form-data")
      .form-group.uploadPic-form
        label 图片*
        .pic-wrap
          //- .imgbox(style="display: none;")
        label.newpic(href="javascrip:void(0);")
          i.fa.fa-plus
        input#file.hide(type="file",name="pic",accept="image/*")
      .form-group
        label 折扣
        .input-box
          input(type="text",name="act[discount]")
      .productlist.j_productlist.section
        .head
          label 按类搜索
          .select
            button.dropdown-toggle(type="button",data-id="labels")
              em 商品名称
              i.fa.fa-chevron-down
            ul.dropdown-menu#labels
              li.item
                a(href="#") 商品名称
              li.item
                a(href="#") 标签
          input.seach(type="text")
          a.submit 确定
        .j_product_list
        table.current(data-page="1")
          thead
            tr
              td
                input(type="checkbox")
                | 全部
              td 图片
              td 商品名称
              td 商品分类
          tbody.j-product-list
            each product in products
              tr
                td
                  input(type="checkbox",name="act[products]",value="#{product._id}")
                td
                  .imgbox
                    img(src="#{product.pics[0]}")
                td #{product.name}
                td #{product.labels.join(' ')}
        nav.j_pagenate_bar.pagenate_bar.clearfix
          ul.pagination.right
            li
              a(href="#") &laquo;
            li.active
              a(href="#") 1
            li
              a(href="#") &raquo;
  .footer
    button.btn.btn-primary.confirm.j-confirm(type="submit") 确定
    a.btn.btn-default(href="/admin") 取消
  include _clip_board


block scripts
  script(type="text/javascript",src="/js/admin/extendPagination.js")
  script(type="text/javascript",src="/js/admin/upload_pic.js")
  script(type="text/javascript",src="/js/admin/jquery.Jcrop.min.js")
  script.
    $(function(){
      $('.j_pagenate_bar').extendPagination({
        totalCount: #{count},
        showCount: 10,
        limit: 20,
        callback: function(curr,limit,totalCount){
          getProduct(curr,limit)
        }
      });

      function getProduct(curr,limit){
        var current = $('.j_productlist tabel[data-page="'+curr+'"]');
        if(current.length>0){
          $('.current').addClass('hide').removeClass('current');
          current.removeClass('hide').addClass('current');
          return;
        }
        $.get('/admin/product',{curr: curr,limit: limit},function(data){
          var html = [];
          html.push(' <tabel data-page="'+curr+'" class="current"> ');
          html.push(' <thead><tr><td><input type="checkbox">全部</td><td>图片</td><td>商品名称</td></td>商品分类</td></thead><tbody>');
          for(var i=0,len=data.length;i<len;i++){
            html.push('<tr><td><input type="checkbox" name="products" value="'+data[i]._id+'"></td>');
            html.push('<td><div class="imgbox"><img src="'+data[i].pics[0]+'"></div></td>');
            html.push('<td>'+data[i].name+'</td>');
            html.push('<td>'+data[i].labels.join(' ')+'</td>');
            html.push('</tr>');
          }
          $('.current').addClass('hide').removeClass('current');
          $('.j_product_list').append(html);
        })
      }

      $('.j-confirm').on('click',function(e){
        $('#new_activity').trigger('submit');
      });

      //- $('input[type="file"]').upload_pic({
      //-   width: 640,
      //-   height: 300,
      //-   isClip: true,
      //-   picName: "act[pics]",
      //-   form: '#new_activity',
      //-   url: '/admon/activity/new',
      //-   afterSelect: function(){
      //-     $('#clip').modal('show');
      //-   },
      //-   afterClip: function(canvas,img,range,select){
      //-     $('.next').on('click',function(e){
      //-       console.log('append image!!!');
      //-       $('.j-preview .imgbox').append(img).append('<i class="icon j-delete">x</i>').show();
      //-       $('#clip').modal('hide');
      //-       $('.newpic').addClass('hide');
      //-     })
      //-   },
      //-   afterDelete: function(){
      //-     $('.imgbox').empty().hide();
      //-     $('.newpic').removeClass('hide');
      //-   }
      //- });
      uploadPic(false);

    })