extends ../../adminLayout

block content
  //- .header
  h2 商品管理
  .wrapper
    .productlist.section
      .head
        h3 商品资源（共555件）
        a.newpdt(href="javascript:void(0);",data-toggle="modal",data-target="#new")
          i.fa.fa-plus
          | 添加商品
      table
        thead
          tr
            td 图片
            td 商品名称
            td 商品分类
            td 创建时间
            td 操作
        tbody
          each product,index in products
            tr
              td
                .imgbox
                  img(src="#{product.url.split(',')[0]}")
              td #{product.name}
              td
                span 夏季
                span 衬衫
              td #{product.meta.createAt.getFullYear()}/#{product.meta.createAt.getMonth()}/#{product.meta.createAt.getDate()}
              td
                a.edit(href="javascript:void(0);") 编辑
                a.delete(href="javascript:void(0);") 删除
  include new-product
block scripts
  script#newsize(type="text/tmpl").
    <div class="form-group">
      <label></label>
      <div class="input-box">
        <input class="sizetext" type="text" name="">
      </div>
      <a href="javascript:void(0);" class="delete">
        <i class="fa fa-trash"></i>
      </a>
    </div>
  script.
    $(function(){

      //- 新尺寸
      function newSize(){
        $('.newsize').on('click',function(){
          var newsize = $($('#newsize').html());
          newsize.find('input').attr('name','product[size]')
          $('.size-box').append(newsize);
        });
        $('.size-box').on('click','.delete',function(){
          $(this).parent().remove();
        });
      }
      newSize();

      //- 图片上传预览
      function uploadPic(){
        function checkType(picPath){
          var type = picPath.substring(picPath.lastIndexOf('.')+1,picPath.length).toLowerCase();
          if( type != 'jpg' && type != 'bmp' && type != 'gif' && type != 'png'){
           return false;
          }
          return true;
        }
        function previewPic(picURL,$this){
          var type = checkType(picURL);
          var prevDiv = $('.pic-wrap');
          if(type){
            if( $this.context.files && ($this.context.files)[0] ){
              var reader = new FileReader();
              reader.onload = function(evt){
                var newImg = $('<div class="imgbox"><img src="'+evt.target.result+'" /><i class="icon">&times;</i></div>');
                prevDiv.append(newImg);
              }
              reader.readAsDataURL(($this.context.files)[0]);
            }else{
              prevDiv.append('<div class="img" style="filter:progid:DXImagesTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\''+file.value+'\'"></div>');
            }
          }
        }
        $('.newpic').on('click',function(){
          var file = $('input[type="file"]');
          if(file.length == 1){
            file.trigger('click');
          }else{
            $(file[1]).trigger('click');
          }
        });
        $(document).on('change','input[type="file"]',function(){
          var self = $(this);
          previewPic(self.val(),self);
          var newpic = $('<input type="file" name="picture" accept="image/*" class="hide" />')
          self.parent().append(newpic);
          validate();
        });
        $(document).on('click','.imgbox .icon',function(){
          var self = $(this),i=0;
          var imgboxes = $(this).parent().siblings();
          for(i,len=imgboxes.length;i<len;i++){
            if($(imgboxes[i]).has(self)){
              break;
            }
          }
          $($('input[type="file"]')[i]).remove();
          $(this).parent().remove();
        })
      }
      uploadPic();
      //- 确定新增商品
      $('.next').on('click',function(){
        if($(this).hasClass('disabled')){
          var ipts = Array.prototype.slice.call($('#newproduct .required'));
          ipts.forEach(function(ipt){
            if($(ipt).val().length == 0){
              $(ipt).addClass('err');
            }
          });
        }else{
          var ipts = Array.prototype.slice.call($('input.rqrednum'));
          var pattern = /[^\d]/g;
          var isnum = true;
          ipts.forEach(function(ipt){
            if($(ipt).val() != 0 && pattern.test($(ipt).val())){
              isnum = false;
            }
          });
          if(isnum){
            $('#newproduct').trigger('submit');
          }
        }
      });

      //- validate
      $('#newproduct').on('keyup','.required',validate);

      function validate(){
        var isAllow = Array.prototype.slice.call($('#newproduct .required')).every(function(input){
          if($(input).val().length>0){
            $(input).removeClass('err');
          }
          return $(input).val().length > 0;
        });
        console.log(isAllow);
        if(isAllow){
          $('.modal-footer .next').removeClass('disabled');
        }
      }

    })