extends ../../adminLayout

block content
  h2 待发货订单处理
  .wrapper.delivery
    .productlist.section
      each order in orders
        - var count = 0;
        table(data-order="#{order._id}")
          thead
            tr
              td 商品图片
              td 名称
              td 尺寸
              td 颜色
              td 数量
              td 金额
              td 操作
          tbody.j-product-list
            each product,index in order.products
              - count += product.qty
              tr.j-productItem
                td.img-column
                  .imgbox
                    img(src="#{product.pics[0]}")
                td.name-column 
                  p #{product.name}
                td #{product.size}
                td #{product.color}
                td #{product.qty}
                td #{product.price}
                if index == 0
                  td(data-id="#{order._id}",rowspan="#{order.products.length}")
                    a.edit.j-edit(href="javascript:void(0);",data-order="#{order._id}",data-toggle="modal",data-target="#express") 发货
            tr
              td 地址：
              td(colspan="6")
                p 收货人： #{order.recipient}
                p 手机： #{order.address.tel}
                p 地址： #{order.address.address}
  include _input_express

block scripts
  script.
    $(document).ready(function(){

      $('.j-edit').on('click',function(){
        var id = $(this).data('order');
        $('#express').attr('data-order',id);
      });

      $('.j-next').on('click',function(e){
        var orderid = $('#express').attr('data-order');
        var data = {};
        data.express_msg = {};
        data.express_msg.name = $('#exporess_name').val();
        data.express_msg.number = $('#exporess_number').val();
        data.orderid = orderid;
        $('table[data-order="'+orderid+'"]').remove();

        $.post('/admin/order/update',data);
      });

      $('.j-dropdown').on('click','li',function(e){
        var exp = $(this).data('express');
        var c_exp = $(this).html();
        $(this).parents('.j-dropdown').find('.j-exp_name').html(c_exp);
        $(this).parents('.j-dropdown').find('#exporess_name').val(exp);
      })
    });