extends ../../adminLayout

block content
  h2 待发货订单处理
  .wrapper
    .productlist.section
      each order in orders
        - var count = 0;
        table
          thead
            tr
              td 商品图片
              td 尺寸
              td 颜色
              td 数量
              td 金额
              td 操作
          tbody.j-product-list
            each product in order.products
              - count += product.qty
              tr.j-productItem
                td
                  .imgbox
                    img(src="#{product.pics[0]}")
                td #{product.size}
                td #{product.color}
                td #{product.qty}
                td(data-id="#{order._id}")
                  a.edit.j-edit(href="javascript:void(0);",data-id="#{order._id}") 发货
                  span.form-wrapper.js-form-wrapper(data-order="",style="display: none;")
                    label(for="user_id") 订单号
                    input.user_id.form-control(typ="text")
                    button.btn.btn-default(data-order="#{order._id}") 确定
                    button.btn.btn-default.j-closePanel 取消
            tr
              td 地址：
              td(colspan="5") order.address

block scripts
  script.
    $(document).ready(function(){
      // show edit role pannel
      function showEditpannel(order_id){
        var tr = $('span[data-order="'+order_id+'"]');
        console.log(tr.css('display') === 'none');
        if(tr.css('display') === "none"){
          tr.fadeIn('fast');
        }else{
          tr.fadeOut('fast');
        }
      }

      $('.j-edit').on('click',function(){
        var id = $(this).data('order');
        showEditpannel(id);
      });

      $('.j-closePanel').on('click',function(){
        $(this).parents('td').find('.j-edit').trigger('click');
      })
    })