extends ../../layout

block content
  .page.detail
    .content.native-scroll.wrapper
      .detail-wrap.detail-primary
        //- 导航条
        .detaile-slide.slide-box
          .swiper_wrap
            .wipe_img_con
              a.swiper_wrap_a
                img(src="#{product.pics[0]}")
            each pic in product.pics
              .wipe_img_con
                a.swiper_wrap_a
                  img(src="#{pic}")
            .wipe_img_con
              a.swiper_wrap_a
                img(src="#{product.pics[product.pics.length - 1]}")
          .swiper-page
            em#SwiperPageNum 1
            i &frasl;
            em #{product.pics.length}
        .primary-info
          p.info-title.break #{product.name}
          p.info-desc.break jcoolstory夏装新款 钓鱼卡通印花  宽松舒适版型 休闲百搭
          .info-price.center
            if product.discount >0
              span.now  &yen;#{product.price * product.discount/10}
              span.market   &yen;#{product.price}
              span.discount #{product.discount}折
            else
              span.now  &yen;#{product.price}
          .info-other.center
            span.item 默认快递
            span.item 销量 #{product.sale_num}
      .detail-rates
        .rates-head
          a.title(href="") 累计评价 9
            span.more 更多
              i.fa.fa-angle-right
        .rates-list
          .rate-item
            .rate-user
              img.avatar(src="/images/d1.jpg")
              span.name 空间规划2016
            .rate-cont 衣服很漂亮和图片一样的，海域就是好便宜呀，店家很好，准备再买几件
            .rate-attr
              span.time 2016-05-18
              span.sku 颜色：白色（两面可穿宽） 尺码：均码
            .show-img
              ul.clearfix
                each pic in product.pics
                  li.small-img
                    img(src="#{pic}")
      .detail-tabpanel
        .buttons-row.row
          a.col-50.tab-link.actve(href="#graphic")
            span 图文详情
          a.col-50.tab-link(href="#parameters")
            span 商品参数
        .tabs
          #graphic.graphic.tab.active
            dl.pic-box
              dt.pic-title 穿着效果
              dd.pic-list
                each pic in product.pics
                  img.fadeIn(src="#{pic}")
          #parameters.parameters.tab.active
            .size-list
              table
                tbody
                  tr
                    td.param-name 尺码
                    td.param-info 均码
                  tr
                    td.param-name 肩宽
                    td.param-info 45
                  tr
                    td.param-name 衣长
                    td.param-info 59
                  tr
                    td.param-name 胸围
                    td.param-info 110
                  tr
                    td.param-name 袖长
                    td.param-info 39
                  tr
                    td.param-name 材质
                    td.param-info 雪纺
                  tr
                    td.param-name 季节
                    td.param-info 夏季
      .recommend
    .detail-footbar
      .footer-fav
        i.fa.fa-star-o
        span.text 收藏
      .footer-cart
        i.fa.fa-shopping-cart
        span.text 购物车
      .footer-buy
        span.buy-cart 加入购物车
        span.buy-now 立即购买
    include _add_to_cart
block scripts
  script.
    window.onload = function(){
      InitSlider({
        container: '.detaile-slide',
        autoSlide: false,
        slideIndex: '#SwiperPageNum'
      });
    }
  //- .container-fluid.details
  //-   .row
  //-     .col-md-6.img-wrapper
  //-       img.img(src="#{product.url}")
  //-     .col-md-6
  //-       h1 #{product.name}
  //-       span.price #{product.price}
  //-       input.quantity(type="number")
  //-       button.btn.btn-default.js-addCart(data-productid="#{product._id}") 加入购入车