extends ../../layout

block content
  .page.detail
    .content.native-scroll.wrapper
      .detail-wrap.detail-primary
        //- 导航条
        .detaile-slide.slide-box
          .swiper_wrap
            .wipe_img_con
              a.swiper_wrap_a
                img(src="#{product.pics[product.pics.length - 1]}")
            each pic in product.pics
              .wipe_img_con
                a.swiper_wrap_a
                  img(src="#{pic}")
            .wipe_img_con
              a.swiper_wrap_a
                img(src="#{product.pics[0]}")
          .swiper-page
            em#SwiperPageNum 1
            i &frasl;
            em #{product.pics.length}
        .primary-info
          p.info-title.break #{product.name}
          p.info-desc.break #{product.description}
          .info-price.center
            if product.discount >0
              span.now  &yen;#{product.price * product.discount/10}
              span.market   &yen;#{product.price}
              span.discount #{product.discount}折
            else
              span.now  &yen;#{product.price}
          .info-other.center
            span.item 默认快递
            span.item 销量 #{product.sale_num}
      .detail-rates
        .rates-head
          a.title(href="/evaluate/list?id=#{product._id}",external) 累计评价 #{count}
            span.more 更多
              i.fa.fa-angle-right
        .rates-list
          each evl in evls
            .rate-item
              .rate-user
                img.avatar(src="#{evl.user_headimgurl}")
                span.name #{evl.user_nickname}
              .rate-cont #{evl.content}
              .rate-attr
                span.time #{evl.createAt.getYear()}-#{evl.createAt.getMonth()}-#{evl.createAt.getDay()}
                span.sku 颜色：#{evl.color} 尺码：#{evl.size}
              .show-img
                ul.clearfix
                  li.small-img
                    img(src="#{evl.imgs}")
      .detail-tabpanel
        .buttons-row.row
          a.col-50.tab-link.actve(href="#graphic")
            span 图文详情
          a.col-50.tab-link(href="#parameters")
            span 商品参数
        .tabs
          #graphic.graphic.tab.active
            dl.pic-box
              dt.pic-title 穿着效果
              dd.pic-list
                each pic in product.pics
                  img.fadeIn(src="#{pic}")
      .recommend
    .detail-footbar
      a.footer-cart(href="/cart",external)
        i.fa.fa-shopping-cart
        span.text 购物车
      .footer-buy
        span.buy-cart.j-open(data-type="add") 加入购物车
    include _add_to_cart
block scripts
  script.
    window.onload = function(){
      InitSlider({
        container: '.detaile-slide',
        autoSlide: false,
        slideIndex: '#SwiperPageNum'
      });
    }
    $(function(){
      var pop = new popup();

      $('.j-open').on('click',function(){
        $('.j-popup .j-confirm').attr('data-type',$(this).data('type'));
      });
      $('.j-confirm').on('click',send_msg);
      function send_msg(){
        pop.close();
        var type = $(this).data('type');
        var url = '/product/addtocart'
        if(type == 'buy'){
          url = '';
        }
        var size = $('.j-style[data-type="size"] .selected').html(),
            color = $('.j-style[data-type="color"] .selected').html();
        var cart = {
          qty: parseInt($('.j-num').html()),
          size: size,
          color: color,
          price: #{product.price * product.discount/10},
          productId: $('.j-confirm').data('productid')
        };
        $.ajax({
          url: url,
          type: 'POST',
          data: cart,
          success: function(data){}
        });

      }
      function select(){
        $('.j-style span').on('click',function(){
          var rules = $(this).parents('.j-style').data('rules');
          console.log(rules);
          if($(this).hasClass('selected')){
            $(this).removeClass('selected');
          }else{
            $(this).addClass('selected');
            if(rules === 'single'){
              $(this).siblings('span').removeClass('selected');
            }
          }
        });
      }
      select();
    });
    $(function(){
      var param_get_js_config = {'cmd':'get_js_config','url':window.location.href};  
      hander_data_from_wechat_api(param_get_js_config,hander_js_config);
    })
    function hander_js_config(data){
      wx.config(data);
      wx.ready(function(){
        wx.checkJsApi({
          jsApiList: ['onMenuShareTimeline','chooseWXPay'],
          success: function(res){
            console.log('checkJsApi'+JSON.stringify(res));
          }
        })
      });
      wx.onMenuShareTimeline({
        title: '#{product.name}',
        link: window.location.href,//分享链接
        imgUrl: '#{product.pics[0]}',//分享图片
        success: function(res) {
          console.log(res);
        },
        cancel: function(res){
          console.log(res);
        }
      });
      wx.error(function(res){
        console.log('error:'+JSON.stringify(res));
      });
    }
    function hander_data_from_wechat_api(param,fn){
      //发送请求获取wx_js_config
      $.ajax({
        url: 'http://bestyxie.cn/wechat',
        type: 'POST',
        data: param,
        datatype: 'json',
        success: function(data){
          fn(data);
        }
      })
    }