extends ../../layout

block content
  .page.create_order
    header.bar.bar-nav.header
      a.arr(href="javascript:void(history.back());")
        i.fa.fa-angle-left
      h1.title 生成订单
    .content.native-scroll
      form#order(action="/order/submit",method="POST")
        input#userid(type="hidden",name="order[user_id]",value="#{user_id}")
        .address.default
          .inner
            if default_addr
              .location_icon
                i.fa.fa-map-marker
              .addr_detail
                input(type="hidden",name="order[address]",value="#{default_addr._id}")
                .contact
                  em.default-label.j-default-label 默认
                  | 收货人：#{default_addr.recipient} &nbsp;&nbsp;&nbsp;#{default_addr.tel}
                .detail #{default_addr.address}
              .edit_addr
                a.fa.fa-angle-right.open-popup(href="javascript:;",data-popup=".popup-address")
            else
              .no-default
                i.fa.fa-map-marker
                p 还没有收货地址,
                  a.open-popup(href="javascript:;",data-popup=".popup-new") 去添加
        .product
          ul.ui-list
            each product in products
              li.ui-list-item.j-list-item(data-id="#{product.productId}")
                input(type="hidden",name="order[productId]",value="#{product.productId}")
                a.cart-goods-pic(href="/details/#{product.productId}")
                  img.fadeIn(src="#{product.pics[0]}")
                .cart-goods-des
                  a(href="/details/#{product.productId}")
                    h5.name.ellipsis #{product.name}
                  p.color 颜色：#{product.color}
                  p.size 尺码：#{product.size}
                p.cart-goods-price
                  span.price ￥#{product.price}
                  span.piece x#{product.qty}
        .express
          input(type="hidden",name="order[express]",value="0")
          em 运费
          em.right ￥0
        .total
          em 小计：
          em.right ￥#{sum}
    .footer.cart-checkout
      .cart-counter
        p.pieces_count 共
          em.count #{count}
          | 件商品
        p.total-price
          | 合计：
          em.sum ￥#{sum}
      button.ui-btn-pink.ui-btn.j-submit 提交订单
    include ./_edit_address
    include ./_new_address

block scripts
  script.
    $(function(){
      $('.j-submit').on('click',function(e){
        $('#order').submit();
      });
      
      function getAddrData(){
        var addrData = {};
        addrData.address = {};
        addrData.address.recipient = $('.popup-new input[name="recipient"]').val();
        addrData.address.tel = $('.popup-new input[name="tel"]').val();
        addrData.address.address = $('.popup-new input[name="undetail"]').val()+ '-'+$('.popup-new input[name="detail"]').val();
        addrData.address.default = $('.popup-new input[name="default"]').is(':checked');
        addrData.address.user = $('#userid').val();

        return addrData;
      }
      // new address
      $('.j-new-addr').on('click',function(e){
        // if($(this).hasClass('disable')){
        //   return;
        // }
        var _this = this;
        var update = $(this).attr('data-status');
        var addrData = getAddrData();
        if(update == 'update'){
          $('.j-delete').addClass('hide');
          $(_this).attr('data-status','');
          var addrid = $('.popup-new input[name="addrid"]').val();
          var list = $('.j-addr_list');
          var parent = $('.popup-address .j-edit-default[value="'+addrid+'"]').parents('.address');
          var html = create_html(data,addrid);
          list.insertBefore(html,parent);
          parent.remove();
          $('.popup-new input').val('');
          $('.popup-new input[type="checkbox"]').removeAttr('checked');
          $.post('/address/update',addrData,function(result){})
        }else{
          $.post('/address/add',addrData,function(result){
            if(result.success) {
              var address = addrData.address
              var html = create_html(address,result.addr_id);
              if($('.address').length == 0){
                $('.j-select-addr').trigger('click');
              }
              $('.j-addr_list').append(html.join(''));
            }
          },'json');
        }
      });

      function create_html(data,addr_id){
        var html = [];
        if(data.default){
          $('.popup-address li').removeClass('default');
          html.push('<li class="address default">');
        }else{
          html.push('<li class="address">');
        }
        html.push('<div class="inner">');
        html.push('<div class="addr_detail">');
        html.push('<input type="hidden" name="order[address]" value="">');
        html.push('<div class="contact">');
        html.push('<em class="default-label">默认</em>');
        html.push('收货人：'+data.recipient+'&nbsp;&nbsp;&nbsp;'+data.tel);
        html.push('<div class="detail">'+data.address+'</div>');
        html.push('</div></div>');
        html.push('<div class="edit_addr">');
        if(data.default){
          html.push('<input type="radio" name="defaultbtn" class="ui-checkbox j-select-status" value="'+addr_id+'" checked>');
        }else{
          html.push('<input type="radio" name="defaultbtn" class="ui-checkbox j-select-status" value="'+addr_id+'">');
        }
        html.push('<i class="fa fa-pencil-square-o j-edit-status hide open-popup j-edit-addr" data-popup=".popup-new"></i>')
        html.push('</div></div><div class="edit_default j-edit-default j-edit-status hide">');
        if(data.default){
          html.push('<input type="radio" value="'+addr_id+'" class="ui-checkbox" checked>');
          html.push('<label>默认地址</label></div>');
        }else{
          html.push('<input type="radio" value="'+addr_id+'" class="ui-checkbox j-edit-default">');
          html.push('<label>设为默认地址</label></div>');
        }
        html.push('</li>');

        return html;
      }
      
      //- 编辑地址模式切换
      $('.j-edit').on('click',function(e){
        $('.j-select-status').addClass('hide');
        $('.j-edit-status').removeClass('hide');
      });
      $('.j-save').on('click',function(e){
        $('.j-select-status').removeClass('hide');
        $('.j-edit-status').addClass('hide');
      });

      $(document).on('click','.j-edit-default',function(e){
        var data = {};
        data.address = {};
        data._id = $(this).val();
        data.userid = $('#userid').val();
        data.address.default = $(this).is(':checked');
        
        if( data.address.default ){
          var siblings = $(this).parents('.address').addClass('default').siblings('.address')
          siblings.removeClass('default').find('input[type="checkbox"]').removeAttr('checked');
          siblings.find('input[type="radio"]').removeAttr('checked');
          $(this).parents('.address').find('input[type="radio"]').attr('checked',true);
        }else{
          $(this).parents('.address').find('input[type="radio"]').removeAttr('checked',true);
        }
        $.post('/address/update',data);
      });

      $(document).on('click','.j-edit-addr',function(e){
        var addr_id = $(this).parents('.address').find('input[name="defaultchange"]').val();
        $('.popup-new .j-new-addr').attr('data-status','update');
        $('.j-delete').removeClass('hide');
        $.get('/address/get',{_id: addr_id},function(result){
          console.log(result);
          var address = result.address;
          var addr = address.address.split('-');
          var detail = addr[addr.length-1];
          var undetail = addr[0]+'-'+addr[1]+'-'+addr[2];
          $('.popup-new input[name="addrid"]').val(addr_id);
          $('.popup-new input[name="recipient"]').val(address.recipient);
          $('.popup-new input[name="tel"]').val(address.tel);
          $('.popup-new input[name="undetail"]').val(undetail);
          $('.popup-new input[name="detail"]').val(detail);
          if(address.default){
            $('.popup-new input[name="default"]').attr('checked',true);
          }
        });
      });

      $('.j-close-new').on('click',function(e){
        if($('.popup-new .j-new-addr').attr('data-status') == 'update'){
          $('.popup-new input').val('');
          $('.popup-new input[type="checkbox"]').removeAttr('checked');
          $('.j-delete').addClass('hide');
        }
      });

      $('.j-delete').on('click',function(e){
        var addrid = $('.popup-new input[name="addrid"]').val();
        $(this).addClass('hide');
        $('.popup-address .j-edit-default[value="'+addrid+'"]').parents('.address').remove();
        $.get('/address/delete',{_id: addrid},function(result){
         console.log(result);
        });
      });

      $(document).on('click','.j-select-addr',function(e){
        var addr = $(this).parents('.address');
        if($(addr).hasClass('default')){
          $('#order .address').addClass('default');
        }else{
          $('#order .address').removeClass('default');
        }
        var detail = $(this).parents('.address').find('.addr_detail').html();
        $('#order .addr_detail').empty().html(detail);
      });
    })