extends ../../layout

block content
  .page.create_order
    header.bar.bar-nav.header
      a.arr(href="javascript:void(history.back());")
        i.fa.fa-angle-left
      h1.title 购物车
    .content.native-scroll
      from#order(action="",method="POST")
        input#userid(type="hidden",name="order[user_id]",value="#{user_id}")
        .address
          .inner
            .location_icon
              i.fa.fa-map-marker
            .addr_detail
              input(type="hidden",name="order[address]",value="")
              .contact 收货人：** &nbsp;&nbsp;&nbsp;188888888
              .detail 广东省-广州市-***
            .edit_addr
              a.fa.fa-angle-right.open-popup(href="javascript:;",data-popup=".popup-address")
        .product
          ul.ui-list
            each product in products
              li.ui-list-item.j-list-item(data-id="#{product.productId}")
                input(type="hidden",name="order[prodts]",value="#{product.productId}")
                a.cart-goods-pic(href="/details/#{product.productId}")
                  img.fadeIn(src="#{product.pics[0]}")
                .cart-goods-des
                  a(href="/details/#{product.productId}")
                    h5.name.ellipsis #{product.name}
                  p.color 颜色：#{product.color}
                  p.size 尺码：#{product.size}
                p.cart-goods-price
                  span.price ￥#{product.price}
                  span.piece x#{product.qty}
        .express
          input(type="hidden",name="order[express]",value="0")
          em 运费
          em.right ￥0
        .total
          em 小计：
          em.right ￥#{sum}
    form.footer.cart-checkout(action="",method="POST")
      .cart-counter
        p.pieces_count 共
          em.count #{count}
          | 件商品
        p.total-price
          | 合计：
          em.sum ￥#{sum}
      button.ui-btn-pink.ui-btn.j-submit(href="javascript:;") 提交订单
    include ./_edit_address
    include ./_new_address

block scripts
  script.
    $(function(){
      $('.j-submit').on('click',function(e){
        e.preventDefault();
        $('#order').trigger('submit');
      });

      // new address
      $('.j-new-addr').on('click',function(e){
        // if($(this).hasClass('disable')){
        //   return;
        // }
        var addrData = {};
        addrData.address = {};
        addrData.address.name = $('input[name="recipient"]').val();
        addrData.address.tel = $('input[name="tel"]').val();
        addrData.address.address = $('input[name="undetail"]').val()+ '-'+$('input[name="detail"]').val();
        addrData.address.default = $('input[name="default"]').is(':checked');
        addrData.userid = $('#userid').val();

        $.post('/address/add',addrData,function(result){
          if(result.success) {
            var html = [];
            if(addrData.address.default){
              $('.popup-address li').removeClass('default');
              html.push('<li class="address default">');
            }else{
              html.push('<li class="address">');
            }
            html.push('<div class="inner">');
            html.push('<div class="addr_detail">');
            html.push('<input type="hidden" name="order[address]" value="">');
            html.push('<div class="contact">');
            html.push('<em class="default-label">默认</em>');
            html.push('收货人：'+addrData.address.name+'&nbsp;&nbsp;&nbsp;'+addrData.address.tel);
            html.push('<div class="detail">'+addrData.address.address+'</div>');
            html.push('</div></div>');
            html.push('<div class="edit_addr">');
            if(addrData.address.default){
              html.push('<input type="radio" class="ui-checkbox" value="'+result.addr_id+'" checked>');
            }else{
              html.push('<input type="radio" class="ui-checkbox" value="'+result.addr_id+'">');
            }
            html.push('<i class="fa fa-pencil-square-o"></i>')
            html.push('</div></div><div class="edit_default j-edit-default hide">');
            if(addrData.address.default){
              html.push('<input type="radio" value="'+result.addr_id+'" class="ui-checkbox" checked>');
              html.push('<label>默认地址</label></div>');
            }else{
              html.push('<input type="radio" value="'+result.addr_id+'" class="ui-checkbox">');
              html.push('<label>设为默认地址</label></div>');
            }
            html.push('</li>');

            $('.j-addr_list').append(html.join(''));
          }
        },'json');
      });

      $('.j-edit').on('click',function(e){
        $('.j-select-status').addClass('hide');
        $('.j-edit-status').removeClass('hide');
      });
      $('.j-save').on('click',function(e){
        $('.j-select-status').removeClass('hide');
        $('.j-edit-status').addClass('hide');
      });
    })