extends ../../layout

block content
  .page.order_list
    header.head-block.bar.bar-nav.header
      a.arr(href="javascript:history.back();")
        i.fa.fa-angle-left
      h1.title 我的订单
    .content.native-scroll.wrapper
      ul.all-order
        each order in orders
          li.orders-item
            - var count = 0
            .item-head
              .order-id 订单号 #{order._id}
              .order-status 退货
            ul.item-content
              each product in order.products
                - count += product.qty
                li.order
                  .order-img
                    img(src="#{product.pics[0]}")
                  .order-desc
                    p.name.ellipsis #{product.name}
                    p.size #{product.size}
                    p.color #{product.color}
                  .msg
                    .price ￥ #{product.price}
                    .count x#{product.qty}
            .item-footer.clearfix
              .sum 共#{count}件 合计
                em ￥88
            .address-msg
              if order.status == 1
                p 等待商家确认
              else if order.status == 2
                p 收件人：#{order.address.recipient}
                p 电话：#{order.address.tel}
                p 电话：#{order.address.addr}
                p 备注：请在快递里留张纸条，说明订单号，用户名!!!
